* {
    font-family: 'JetBrains Mono Nerd Font';
    font-weight: 600;
    font-size: 14px;
}


#window {
    padding: 0 33px;
    background-color: #11111b;
    transition-property: background-color;
    border-radius: 32px;
    transition-duration: 0.5s;
    border: 2px solid #b4befe;
    color: #a6adc8;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: #11111b;
    border-radius: 32px;
    padding: 0px 10px;
    border: 2px solid #b4befe;
}

#workspaces button {
    padding: 0 5px 0 10px;
    background-color: transparent;
    color: #a6adc8;
    transition-property: color;
    transition-duration: 0.35s;
    border-radius: 50%;
}

#workspaces button:hover {
/*    background-color: transparent;*/
 /*   color: #f9e2af; */
}

#workspaces button.active {
    color: #f38ba8;
}

#workspaces button.urgent {
    background-color: #c9a0dc;
    color: #000000;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-archlogo,
#custom-powermenu,
#clock,
#cpu,
#memory,
#pulseaudio {
    padding: 0 15px;
    background-color: #11111b;
    border: 2px solid #b4befe;
    border-radius: 32px;
    margin-right: 8px;
}

#custom-powermenu,
#custom-archlogo {
    margin-right: 0;
    color: #f38ba8;
    border-radius: 50%;
    padding: 0 5px 0 10px;
}

#custom-archlogo {
    color: #89dceb;
    margin-right: 8px;
    padding: 0 4px 0 9px;
}

#clock {
    color: #f9e2af;
}


label:focus {
    background-color: #000000;
}

#cpu {
   padding: 0 15px;
   color: #89b4fa;
}

#memory {
   padding: 0 15px;
   color: #f38ba8
}

#pulseaudio {
    color: #cba6f7;
}
