* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Nerd Font";
    border: none;
    min-height: 0;
    margin: 1px 3px;
}

#waybar {
    background-color: #262e36;
    color: #D8DEE9;
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 11px;
    font-weight: bold;
}

/* Module */
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd,
#disk,
#battery,
#backlight,
#workspaces {
    padding-left: 0.6em;
    padding-right: 0.6em;
    color: #D8DEE9;
    margin: 1px 1px;
}

#disk,
#battery {
	background-color: #263539;
}

#memory,
#backlight {
	background-color: #2c3a41;
}

#cpu,
#pulseaudio {
	background-color: #314049;	
}

#network,
#workspaces {
   background: #374950;
}

#clock,
#tray {
	background: #3c4f58;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    background:	rgba(55,73,80,0.5);
}

#battery.charging, #battery.plugged {
    color: #fdd835;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #e28743;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
	color: #ec7875;
}
